# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store

# Vim swp files
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Project-specific
TODO.md
data/
figs/
output/

# Log files
*.err
nohup.out
history.txt
